*.log
*csv
.DS_Store
.env
.venv
.vscode
log.txt
logs/
model.onnx
report.json
report.txt
table_cache_dev_*
target
venv
worker_cache/
zkml/assets/scripts/covid/data*
zkml/bench
zkml/bench.csv
zkml/cifar_net.pth
zkml/cnn_model.pth
zkml/data
zkml/deepprove.csv

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
.nltk_data
